@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-2">
            Welcome to the Volunteer Management System
        </h1>
        <strong class="lead">Select an Option Below</strong>
    </div>
    <div class="row text-center">
        <div class="col">
            <a asp-action="Volunteers">Manage Volunteers</a>
        </div>
        <div class="col">
            <a asp-action="Opportunities">Manage Opportunities</a>
        </div>
    </div>
</div>
